<form name="costForm" class="form-horizontal" ng-submit="save()" style="margin-top:20px;">
    <fieldset>
        <legend>{{ title }}</legend>
        <div class="control-group" ng-class="{error: cost.title.$invalid}">
            <label for="title" class="control-label">Titel:</label>
            <div class="controls">
                <input id="title" type="text" ng-model="cost.title" required/>
            </div>
        </div>
        <div class="control-group">
            <label for="project" class="control-label">Projekt:</label>
            <div class="controls">
                <select id="project" ng-model="cost.project" ng-options="p for p in projects" bs-select required>
                    <option value="">-- Projekt auswählen --</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label for="workDay" class="control-label">Datum:</label>
            <div id="workDay" class="controls">
                <input type="text" ng-model="cost.workDay" bs-datepicker required>
            </div>
        </div>
        <div class="control-group">
            <label for="time" class="control-label">Zeit:</label>
            <div class="controls">
                <input id="time" type="number" name="time" ng-model="cost.time" required max="24" min="0">
            </div>
        </div>
        <div class="form-actions">
            <a href="#/costs" class="btn">Abbrechen</a>
            <button class="btn btn-primary">Speichern</button>
        </div>
    </fieldset>
</form>
